[submodule "frontend"]
	path = frontend
	url = git@github.com:yunyunalison/StayCircle-Frontend.git
	branch = main 
[submodule "backend"]
	path = backend
	url = git@github.com:yunyunalison/StayCircle-Backend.git
	branch = main 
